
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/DesignTimeBuild/.dtbcache.v2
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/DesignTimeBuild/.dtbcache.v2
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/2b8dbf60-f0dc-48d7-895b-be8d4b5c34b5.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/34d3fdcf-4777-4174-a1af-3b369b5a5fbb.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/DesignTimeBuild/.dtbcache.v2
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/2b8dbf60-f0dc-48d7-895b-be8d4b5c34b5.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/801cbacb-a027-472a-8346-12171d2ea5da.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/8d28de5d-16db-4f21-b31a-f60587bbf928.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/ae1e2d5a-d5ea-49ba-8f93-54e0a490e9ab.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/9acdcafa-4c75-4b25-8adc-7eaff4db2ce9.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/9522fa60-2d4d-4b77-8144-697650cf4dd2.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/801cbacb-a027-472a-8346-12171d2ea5da.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/2b8dbf60-f0dc-48d7-895b-be8d4b5c34b5.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/v17/DocumentLayout.json
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/v17/.suo
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/v17/.futdcache.v2
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/e8b6b718-b2a4-47ad-9eac-f4f79535ede0.vsidx
E-Commerce-BW4-Team4/obj/project.assets.json
E-Commerce-BW4-Team4/obj/E-Commerce-BW4-Team4.csproj.nuget.g.props
E-Commerce-BW4-Team4/obj/Debug/net8.0/refint/E-Commerce-BW4-Team4.dll
E-Commerce-BW4-Team4/obj/Debug/net8.0/E-Commerce-BW4-Team4.csproj.FileListAbsolute.txt
E-Commerce-BW4-Team4/obj/Debug/net8.0/E-Commerce-BW4-Team4.csproj.CoreCompileInputs.cache
E-Commerce-BW4-Team4/obj/Debug/net8.0/E-Commerce-BW4-Team4.csproj.AssemblyReference.cache
E-Commerce-BW4-Team4/obj/Debug/net8.0/E-Commerce-BW4-Team4.assets.cache
E-Commerce-BW4-Team4/obj/Debug/net8.0/E-Commerce-BW4-Team4.AssemblyInfoInputs.cache
E-Commerce-BW4-Team4/obj/Debug/net8.0/E-Commerce-BW4-Team4.AssemblyInfo.cs
E-Commerce-BW4-Team4/obj/Debug/net8.0/E-Commer.028D4D2B.Up2Date
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/v17/.futdcache.v2
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/e8b6b718-b2a4-47ad-9eac-f4f79535ede0.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/e604e9c5-5bf9-4086-8e38-4ffaad79ea2f.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/DesignTimeBuild/.dtbcache.v2
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/DesignTimeBuild/.dtbcache.v2
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/2b8dbf60-f0dc-48d7-895b-be8d4b5c34b5.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/801cbacb-a027-472a-8346-12171d2ea5da.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/9522fa60-2d4d-4b77-8144-697650cf4dd2.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/9acdcafa-4c75-4b25-8adc-7eaff4db2ce9.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/b4acf18c-f3a8-4180-b44f-36c1a185b3a1.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/b7d97b1c-169f-4e87-8508-7d4224ec3b9a.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/d2bedd7a-ca10-4b5c-9ab8-b2a800c7d29e.vsidx
E-Commerce-BW4-Team4/.vs/E-Commerce-BW4-Team4/FileContentIndex/e1752761-9c1a-42d7-9091-5b8401b980bb.vsidx
E-Commerce-BW4-Team4/bin/Debug/net8.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
E-Commerce-BW4-Team4/bin/Debug/net8.0/runtimes/win-arm64/native/sni.dll
E-Commerce-BW4-Team4/bin/Debug/net8.0/runtimes/win-x64/native/sni.dll
E-Commerce-BW4-Team4/bin/Debug/net8.0/runtimes/win-x86/native/sni.dll
E-Commerce-BW4-Team4/bin/Debug/net8.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
E-Commerce-BW4-Team4/bin/Debug/net8.0/System.Data.SqlClient.dll
