@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+EAN13+Text&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('../img/pattern.svg');
    background-size: 25%;
}

.container-fluid > img {
    width: 250px;
}

header, .footer {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbar, .footer {
    background-color: transparent;
}

.logo {
    width: 400px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.77 );
}


::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #2e2274;
}

::-webkit-scrollbar-thumb {
    background-color: #e108b9;
    border-radius: 1rem;
}

.barcode {
    font-family: "Libre Barcode EAN13 Text", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

.quantity {
    width: 50px;
}

.card {
    color: white;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.card__content {
    background: rgb(5, 6, 45);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.imgTable {
    width: 100px;
}

.col-prezzo{
    width: 100px;
}


.contForm {
    margin: 0 16.75em;
    font-size: 1em;
}


    #Generi {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 20%;
    }

.btn-modifica {
    background: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    color:white;
}

#Generi input {
    margin-right: 10px;
    }

.dropdown-item:hover {
    background-color: #4CAF50; 
    color: white; 
}
input:checked {
    background: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    ; 
}
.form-check-input:checked {
    background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}

.card-img-top {
    background-size: cover;
    height: 480px;
}

.card {
    transition: transform 0.1s;
}

.card-body {
    height: 300px;

}

.card:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.form-amministratore {
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
}