@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Amministratore";
}

<h1>BENVENUTO</h1>
<h2>Inserisci le tue credenziali per accedere</h2>

<form asp-action="Amministratore">
    <h2>Username</h2>
    <input type="text" placeholder="username" id="Username" name="Username" required/>

    <h2>Password</h2>
    <input type="password" placeholder="password" />

    <button type="submit" class="btn btn-primary" >Accedi</button>
</form>