@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "GestioneAmministratore";
}


<h1>Benvenuto @ViewBag.Username</h1>

<h2>lista Videogiochi</h2>

<a class="btn btn-success" asp-controller="Home" asp-action="Index">Aggiungi videogioco</a>
<a class="btn btn-warning" asp-controller="Home" asp-action="Index">Modifica</a>
<a class="btn btn-danger" asp-controller="Home" asp-action="Index">Elimina</a>