@model IEnumerable<ProdottoCompleto>
@{
    ViewData["Title"] = "EPICGAMES";
}
<h1>Benvenuto in EpiGames</h1>

<div class="container">
    <div class="row">
        @foreach (var Prodotto in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Prodotto.NomeProdotto</h5>
                        <p class="card-text">@Prodotto.DescrizioneProdotto</p>
                        <p class="card-text"><strong>Disponibilità:</strong> @Prodotto.Disponibilita</p>
                        <p class="card-text"><strong>Prezzo:</strong> @Prodotto.Prezzo.ToString("C")</p>
                        <a class="btn btn-primary">Acquista</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>